.xsd/DMLApplicationConstant.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/applicationConstant" xmlns:bb="http://www.bigbang.io/dml/applicationConstant">
  <xsd:element name="configuration">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="applicationConstant" type="bb:DMLApplicationConstant" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DMLApplicationConstant">
    <xsd:all>
      <xsd:element name="constants">
        <xsd:complexType>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="constant" type="bb:DMLApplicationConstantItem" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="culture" use="optional" type="xsd:string" />
    <xsd:attribute name="addToExpression" use="optional" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="DMLApplicationConstantItem">
    <xsd:all>
      <xsd:element name="value" minOccurs="1" maxOccurs="1" type="xsd:string" />
    </xsd:all>
    <xsd:attribute name="key" use="required" type="xsd:string" />
    <xsd:attribute name="addToExpression" use="optional" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:simpleType name="BBDuration">
    <xsd:annotation>
      <xsd:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>