.xsd/DMLCustomSiteItem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/customSiteItem" xmlns:bb="http://www.bigbang.io/dml/customSiteItem">
  <xsd:element name="configuration">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="customSiteItem" type="bb:DMLCustomSiteItem" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DMLCustomSiteItem">
    <xsd:attribute name="assembly" use="required" type="xsd:string" />
    <xsd:attribute name="jsResourceName" use="required" type="xsd:string" />
    <xsd:attribute name="serviceName" use="optional" type="xsd:string" />
    <xsd:attribute name="templateResourceName" use="optional" type="xsd:string" />
    <xsd:attribute name="styleResourceName" use="optional" type="xsd:string" />
    <xsd:attribute name="type" type="bb:DMLSiteType" use="optional" />
    <xsd:attribute name="align" type="bb:DMLSiteAlign" use="optional" />
    <xsd:attribute name="order" use="optional" type="xsd:int" />
  </xsd:complexType>
  <xsd:simpleType name="DMLSiteType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MainMenu" />
      <xsd:enumeration value="Sidebar" />
      <xsd:enumeration value="Footer" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DMLSiteAlign">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Start" />
      <xsd:enumeration value="End" />
      <xsd:enumeration value="Center" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BBDuration">
    <xsd:annotation>
      <xsd:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>