.xsd/DMLCustomEditorDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/customEditor" xmlns:bb="http://www.bigbang.io/dml/customEditor">
  <xsd:element name="configuration">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="customEditor" type="bb:DMLCustomEditorDefinition" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DMLCustomEditorDefinition">
    <xsd:all>
      <xsd:element name="supportedDataTypes">
        <xsd:complexType>
          <xsd:choice minOccurs="1" maxOccurs="unbounded">
            <xsd:element name="object" type="bb:DMLObjectFieldDataType" />
            <xsd:element name="dictionary" type="bb:DMLDictionaryFieldDataType" />
            <xsd:element name="model" type="bb:DMLModelFieldDataType" />
            <xsd:element name="crossReference" type="bb:DMLCrossReferenceFieldDataType" />
            <xsd:element name="list" type="bb:DMLListFieldDataType" />
            <xsd:element name="guid" type="bb:DMLGuidFieldDataType" />
            <xsd:element name="string" type="bb:DMLStringFieldDataType" />
            <xsd:element name="dateTime" type="bb:DMLDateTimeFieldDataType" />
            <xsd:element name="boolean" type="bb:DMLBooleanFieldDataType" />
            <xsd:element name="byte" type="bb:DMLByteFieldDataType" />
            <xsd:element name="short" type="bb:DMLShortFieldDataType" />
            <xsd:element name="int" type="bb:DMLIntFieldDataType" />
            <xsd:element name="long" type="bb:DMLLongFieldDataType" />
            <xsd:element name="float" type="bb:DMLFloatFieldDataType" />
            <xsd:element name="decimal" type="bb:DMLDecimalFieldDataType" />
            <xsd:element name="double" type="bb:DMLDoubleFieldDataType" />
            <xsd:element name="binary" type="bb:DMLBinaryFieldDataType" />
            <xsd:element name="file" type="bb:DMLFileFieldDataType" />
            <xsd:element name="image" type="bb:DMLImageFieldDataType" />
            <xsd:element name="version" type="bb:DMLVersionFieldDataType" />
            <xsd:element name="duration" type="bb:DMLDurationFieldDataType" />
            <xsd:element name="enum" type="bb:DMLEnumFieldDataType" />
            <xsd:element name="json" type="bb:DMLJsonFieldDataType" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="name" use="required" type="xsd:string" />
    <xsd:attribute name="displayName" use="optional" type="xsd:string" />
    <xsd:attribute name="service" use="optional" type="xsd:string" />
    <xsd:attribute name="assembly" use="required" type="xsd:string" />
    <xsd:attribute name="jsResourceName" use="required" type="xsd:string" />
    <xsd:attribute name="templateResourceName" use="optional" type="xsd:string" />
    <xsd:attribute name="styleResourceName" use="optional" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLObjectFieldDataType">
    <xsd:attribute name="specialType" use="required" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLDictionaryFieldDataType">
    <xsd:all>
      <xsd:element name="valueType" type="bb:DMLDictionaryFilteredFieldDataType" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DMLDictionaryFilteredFieldDataType">
    <xsd:choice>
      <xsd:element name="guid" type="bb:DMLGuidFieldDataType" />
      <xsd:element name="string" type="bb:DMLStringFieldDataType" />
      <xsd:element name="dateTime" type="bb:DMLDateTimeFieldDataType" />
      <xsd:element name="boolean" type="bb:DMLBooleanFieldDataType" />
      <xsd:element name="byte" type="bb:DMLByteFieldDataType" />
      <xsd:element name="short" type="bb:DMLShortFieldDataType" />
      <xsd:element name="int" type="bb:DMLIntFieldDataType" />
      <xsd:element name="long" type="bb:DMLLongFieldDataType" />
      <xsd:element name="float" type="bb:DMLFloatFieldDataType" />
      <xsd:element name="decimal" type="bb:DMLDecimalFieldDataType" />
      <xsd:element name="double" type="bb:DMLDoubleFieldDataType" />
      <xsd:element name="duration" type="bb:DMLDurationFieldDataType" />
      <xsd:element name="enum" type="bb:DMLEnumFieldDataType" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="DMLGuidFieldDataType" />
  <xsd:complexType name="DMLStringFieldDataType">
    <xsd:attribute name="stripHtmlTags" use="optional" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="DMLDateTimeFieldDataType" />
  <xsd:complexType name="DMLBooleanFieldDataType" />
  <xsd:complexType name="DMLByteFieldDataType" />
  <xsd:complexType name="DMLShortFieldDataType" />
  <xsd:complexType name="DMLIntFieldDataType" />
  <xsd:complexType name="DMLLongFieldDataType" />
  <xsd:complexType name="DMLFloatFieldDataType" />
  <xsd:complexType name="DMLDecimalFieldDataType" />
  <xsd:complexType name="DMLDoubleFieldDataType" />
  <xsd:complexType name="DMLDurationFieldDataType" />
  <xsd:complexType name="DMLEnumFieldDataType">
    <xsd:attribute name="name" use="required" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLModelFieldDataType">
    <xsd:attribute name="sourceModel" use="required" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLCrossReferenceFieldDataType">
    <xsd:all>
      <xsd:element name="entityModels" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="entityModel" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="interface" use="optional" type="xsd:string" />
    <xsd:attribute name="useCrossReferenceTypeWhenInterfaceProvided" use="optional" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="DMLListFieldDataType">
    <xsd:all>
      <xsd:element name="elementType" type="bb:DMLListFilteredFieldDataType" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DMLListFilteredFieldDataType">
    <xsd:choice>
      <xsd:element name="object" type="bb:DMLObjectFieldDataType" />
      <xsd:element name="dictionary" type="bb:DMLDictionaryFieldDataType" />
      <xsd:element name="model" type="bb:DMLModelFieldDataType" />
      <xsd:element name="crossReference" type="bb:DMLCrossReferenceFieldDataType" />
      <xsd:element name="guid" type="bb:DMLGuidFieldDataType" />
      <xsd:element name="string" type="bb:DMLStringFieldDataType" />
      <xsd:element name="dateTime" type="bb:DMLDateTimeFieldDataType" />
      <xsd:element name="boolean" type="bb:DMLBooleanFieldDataType" />
      <xsd:element name="byte" type="bb:DMLByteFieldDataType" />
      <xsd:element name="short" type="bb:DMLShortFieldDataType" />
      <xsd:element name="int" type="bb:DMLIntFieldDataType" />
      <xsd:element name="long" type="bb:DMLLongFieldDataType" />
      <xsd:element name="float" type="bb:DMLFloatFieldDataType" />
      <xsd:element name="decimal" type="bb:DMLDecimalFieldDataType" />
      <xsd:element name="double" type="bb:DMLDoubleFieldDataType" />
      <xsd:element name="binary" type="bb:DMLBinaryFieldDataType" />
      <xsd:element name="file" type="bb:DMLFileFieldDataType" />
      <xsd:element name="image" type="bb:DMLImageFieldDataType" />
      <xsd:element name="version" type="bb:DMLVersionFieldDataType" />
      <xsd:element name="duration" type="bb:DMLDurationFieldDataType" />
      <xsd:element name="enum" type="bb:DMLEnumFieldDataType" />
      <xsd:element name="json" type="bb:DMLJsonFieldDataType" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="DMLBinaryFieldDataType" />
  <xsd:complexType name="DMLFileFieldDataType" />
  <xsd:complexType name="DMLImageFieldDataType" />
  <xsd:complexType name="DMLVersionFieldDataType" />
  <xsd:complexType name="DMLJsonFieldDataType">
    <xsd:attribute name="schema" use="optional" type="xsd:string" />
    <xsd:attribute name="templateSelectionPolicy" type="bb:DMLJsonTemplateSelectionPolicy" use="optional" />
  </xsd:complexType>
  <xsd:simpleType name="DMLJsonTemplateSelectionPolicy">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Property" />
      <xsd:enumeration value="BeforeCreate" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BBDuration">
    <xsd:annotation>
      <xsd:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>