.xsd/DMLExtendedReportModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/extendedReport" xmlns:bb="http://www.bigbang.io/dml/extendedReport">
  <xsd:element name="configuration">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="extendedReportModel" type="bb:DMLExtendedReportModel" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DMLExtendedReportModel">
    <xsd:all>
      <xsd:element name="printTemplates" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="printTemplate" type="bb:DMLPrintTemplate" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deactivatedPrintTemplate" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="deactivatedPrintTemplate" type="bb:DMLDeactivatedPrintTemplate" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="name" use="required" type="xsd:string" />
    <xsd:attribute name="isActive" use="optional" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="DMLPrintTemplate">
    <xsd:all>
      <xsd:element name="description" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="provider" type="bb:DMLPrintProvider" />
      <xsd:element name="parameters" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="parameter" type="bb:DMLParameter" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bindings" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="property" type="bb:DMLPrintPropertyToParameterBinding" />
            <xsd:element name="parameter" type="bb:DMLPrintParameterToParameterBinding" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="icon" type="bb:DMLIcon" minOccurs="0" maxOccurs="1" />
    </xsd:all>
    <xsd:attribute name="name" use="required" type="xsd:string" />
    <xsd:attribute name="displayName" use="optional" type="xsd:string" />
    <xsd:attribute name="sourceLoaderType" use="optional" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLPrintProvider">
    <xsd:choice>
      <xsd:element name="crystal" type="bb:DMLCrystalReportPrintProvider" />
      <xsd:element name="stimulSoft" type="bb:DMLStimulSoftReportPrintProvider" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="DMLCrystalReportPrintProvider">
    <xsd:all>
      <xsd:element name="template">
        <xsd:complexType>
          <xsd:attribute name="x-key" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DMLStimulSoftReportPrintProvider">
    <xsd:all>
      <xsd:element name="template">
        <xsd:complexType>
          <xsd:attribute name="x-key" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DMLParameter">
    <xsd:all>
      <xsd:element name="description" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="editor" type="bb:DMLFieldEditor" minOccurs="0" maxOccurs="1" />
      <xsd:element name="parameterType" type="bb:DMLFieldDataType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="validations" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="notNull" type="bb:DMLNotNullFieldValidator" />
            <xsd:element name="jsonSchema" type="bb:DMLJsonSchemaFieldValidator" />
            <xsd:element name="binary" type="bb:DMLBinaryFieldValidator" />
            <xsd:element name="string" type="bb:DMLStringFieldValidator" />
            <xsd:element name="regex" type="bb:DMLRegularExpressionFieldValidator" />
            <xsd:element name="custom" type="bb:DMLCustomValidator" />
            <xsd:element name="number" type="bb:DMLNumberFieldValidator" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="name" use="required" type="xsd:string" />
    <xsd:attribute name="displayName" use="optional" type="xsd:string" />
    <xsd:attribute name="allowNull" use="optional" type="xsd:boolean" />
    <xsd:attribute name="sourceType" type="bb:DMLCommandParameterSourceType" use="optional" />
    <xsd:attribute name="multiplicity" type="bb:DMLCommandParameterValueMultiplicity" use="optional" />
    <xsd:attribute name="order" use="optional" type="xsd:int" />
    <xsd:attribute name="ignoreGlobalFilter" use="optional" type="xsd:boolean" />
    <xsd:attribute name="isReadOnly" use="optional" type="xsd:boolean" />
    <xsd:attribute name="isVisible" use="optional" type="xsd:boolean" />
    <xsd:attribute name="logHistory" use="optional" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:simpleType name="DMLCommandParameterSourceType">
    <xsd:annotation>
      <xsd:documentation>Source type of parameter</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="This">
        <xsd:annotation>
          <xsd:documentation>Locate parameter data from the property of selected entity.(this type is valid for model command and transition)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Self">
        <xsd:annotation>
          <xsd:documentation>The selected entity will be assigned to parameter.(this type is valid for model command and transition)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="SystemDefined">
        <xsd:annotation>
          <xsd:documentation>System parameter like user id or cop</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="UserDefined">
        <xsd:annotation>
          <xsd:documentation>This type of parameter will be resolved from user entry</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DMLCommandParameterValueMultiplicity">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Single" />
      <xsd:enumeration value="Multi" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DMLFieldEditor">
    <xsd:choice>
      <xsd:element name="boolean" type="bb:DMLBooleanEditor" />
      <xsd:element name="color" type="bb:DMLColorEditor" />
      <xsd:element name="cron" type="bb:DMLCronEditor" />
      <xsd:element name="crossReference" type="bb:DMLCrossReferenceModelEditor" />
      <xsd:element name="custom" type="bb:DMLCustomEditor" />
      <xsd:element name="date" type="bb:DMLDateEditor" />
      <xsd:element name="dateTime" type="bb:DMLDateTimeEditor" />
      <xsd:element name="duration" type="bb:DMLDurationEditor" />
      <xsd:element name="enum" type="bb:DMLEnumEditor" />
      <xsd:element name="file" type="bb:DMLFileEditor" />
      <xsd:element name="html" type="bb:DMLHtmlEditor" />
      <xsd:element name="image" type="bb:DMLImageEditor" />
      <xsd:element name="json" type="bb:DMLJsonEditor" />
      <xsd:element name="keyValue" type="bb:DMLKeyValueEditor" />
      <xsd:element name="list" type="bb:DMLListEditor" />
      <xsd:element name="manyToMany" type="bb:DMLManyToManyEditor" />
      <xsd:element name="model" type="bb:DMLModelEditor" />
      <xsd:element name="numerical" type="bb:DMLNumericalEditor" />
      <xsd:element name="state" type="bb:DMLStateEditor" />
      <xsd:element name="string" type="bb:DMLStringEditor" />
      <xsd:element name="time" type="bb:DMLTimeEditor" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="DMLBooleanEditor">
    <xsd:attribute name="editorType" type="bb:DMLBooleanEditorType" use="optional" />
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:simpleType name="DMLBooleanEditorType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CheckBox" />
      <xsd:enumeration value="ComboBox" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DMLDirection">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Default" />
      <xsd:enumeration value="RightToLeft" />
      <xsd:enumeration value="LeftToRight" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DMLEditorViewMode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Default" />
      <xsd:enumeration value="ViewOnly" />
      <xsd:enumeration value="InLineEdit" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DMLColorEditor">
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="DMLCronEditor">
    <xsd:attribute name="secondsSupported" use="optional" type="xsd:boolean" />
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="DMLCrossReferenceModelEditor">
    <xsd:all>
      <xsd:element name="businessContext" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="businessContextItem" type="bb:DMLBusinessContextItem" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="isReferenceModelsVisible" use="optional" type="xsd:boolean" />
    <xsd:attribute name="isCompactMode" use="optional" type="xsd:boolean" />
    <xsd:attribute name="newItem" type="bb:DMLModelEditorButtonDisplayMode" use="optional" />
    <xsd:attribute name="searchMore" type="bb:DMLModelEditorButtonDisplayMode" use="optional" />
    <xsd:attribute name="openForm" type="bb:DMLModelEditorButtonDisplayMode" use="optional" />
    <xsd:attribute name="showLocateForm" use="optional" type="xsd:boolean" />
    <xsd:attribute name="totalLoadCount" use="optional" type="xsd:int" />
    <xsd:attribute name="model" use="optional" type="xsd:string" />
    <xsd:attribute name="isAutoCreateActive" use="optional" type="xsd:boolean" />
    <xsd:attribute name="cascadeBusinessContext" use="optional" type="xsd:boolean" />
    <xsd:attribute name="cascadeParameterContext" use="optional" type="xsd:boolean" />
    <xsd:attribute name="stringPropertySearchOperator" type="bb:DMLStringPropertySearchOperator" use="optional" />
    <xsd:attribute name="debounceRate" use="optional" type="xsd:int" />
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:simpleType name="DMLModelEditorButtonDisplayMode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Show" />
      <xsd:enumeration value="Hide" />
      <xsd:enumeration value="Auto" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DMLBusinessContextItem">
    <xsd:all>
      <xsd:element name="value" minOccurs="1" maxOccurs="1" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Expression for business context value</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="name" use="required" type="xsd:string" />
  </xsd:complexType>
  <xsd:simpleType name="DMLStringPropertySearchOperator">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Contains" />
      <xsd:enumeration value="Equal" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DMLCustomEditor">
    <xsd:all>
      <xsd:element name="configs" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="config" type="bb:DMLCustomEditorConfig" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="name" use="required" type="xsd:string" />
    <xsd:attribute name="editorType" type="bb:DMLCustomEditorType" use="optional" />
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:simpleType name="DMLCustomEditorType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Inline" />
      <xsd:enumeration value="Dialog" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DMLCustomEditorConfig">
    <xsd:all>
      <xsd:element name="expression" minOccurs="1" maxOccurs="1" type="xsd:string" />
    </xsd:all>
    <xsd:attribute name="name" use="required" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLDateEditor">
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="DMLDateTimeEditor">
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="DMLDurationEditor">
    <xsd:attribute name="editorType" type="bb:DMLDurationEditorType" use="optional" />
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:simpleType name="DMLDurationEditorType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Second" />
      <xsd:enumeration value="Minute" />
      <xsd:enumeration value="Hour" />
      <xsd:enumeration value="Day" />
      <xsd:enumeration value="DayHour" />
      <xsd:enumeration value="DayHourMinute" />
      <xsd:enumeration value="DayHourMinuteSecond" />
      <xsd:enumeration value="HourMinute" />
      <xsd:enumeration value="HourMinuteSecond" />
      <xsd:enumeration value="MinuteSecond" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DMLEnumEditor">
    <xsd:attribute name="sortType" type="bb:DMLEnumSortType" use="optional" />
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:simpleType name="DMLEnumSortType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Index" />
      <xsd:enumeration value="Value" />
      <xsd:enumeration value="DisplayNameOrName" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DMLFileEditor">
    <xsd:attribute name="isDownloadable" use="optional" type="xsd:boolean" />
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="DMLHtmlEditor">
    <xsd:attribute name="maxLength" use="optional" type="xsd:int" />
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="DMLImageEditor">
    <xsd:attribute name="isDownloadable" use="optional" type="xsd:boolean" />
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="DMLJsonEditor">
    <xsd:attribute name="showTemplateSelector" use="optional" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Enalbled by default</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showGrouping" use="optional" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Disabled by default</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="DMLKeyValueEditor">
    <xsd:all>
      <xsd:element name="valueEditor" type="bb:DMLFieldEditor" />
    </xsd:all>
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="DMLListEditor">
    <xsd:all>
      <xsd:element name="elementEditor" type="bb:DMLFieldEditor" />
    </xsd:all>
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="DMLManyToManyEditor">
    <xsd:attribute name="preventDuplicate" use="optional" type="xsd:boolean" />
    <xsd:attribute name="totalLoadCount" use="optional" type="xsd:int" />
    <xsd:attribute name="debounceRate" use="optional" type="xsd:int" />
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="DMLModelEditor">
    <xsd:all>
      <xsd:element name="formatting" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="constant" type="bb:DMLModelFormattingConstant" />
            <xsd:element name="property" type="bb:DMLModelFormattingProperty" />
            <xsd:element name="dynamic" type="bb:DMLModelFormattingExpression" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="businessContext" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="businessContextItem" type="bb:DMLBusinessContextItem" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="newItem" type="bb:DMLModelEditorButtonDisplayMode" use="optional" />
    <xsd:attribute name="searchMore" type="bb:DMLModelEditorButtonDisplayMode" use="optional" />
    <xsd:attribute name="openForm" type="bb:DMLModelEditorButtonDisplayMode" use="optional" />
    <xsd:attribute name="showLocateForm" use="optional" type="xsd:boolean" />
    <xsd:attribute name="totalLoadCount" use="optional" type="xsd:int" />
    <xsd:attribute name="model" use="optional" type="xsd:string" />
    <xsd:attribute name="editorType" type="bb:DMLModelEditorType" use="optional" />
    <xsd:attribute name="presentForm" use="optional" type="xsd:string" />
    <xsd:attribute name="searchForm" use="optional" type="xsd:string" />
    <xsd:attribute name="isAutoCreateActive" use="optional" type="xsd:boolean" />
    <xsd:attribute name="cascadeBusinessContext" use="optional" type="xsd:boolean" />
    <xsd:attribute name="cascadeParameterContext" use="optional" type="xsd:boolean" />
    <xsd:attribute name="stringPropertySearchOperator" type="bb:DMLStringPropertySearchOperator" use="optional" />
    <xsd:attribute name="debounceRate" use="optional" type="xsd:int" />
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:simpleType name="DMLModelEditorType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ComboBox" />
      <xsd:enumeration value="Lookup" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DMLModelFormattingConstant">
    <xsd:attribute name="value" use="required" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLModelFormattingProperty">
    <xsd:attribute name="name" use="required" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLModelFormattingExpression">
    <xsd:all>
      <xsd:element name="expression" minOccurs="1" maxOccurs="1" type="xsd:string" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DMLNumericalEditor">
    <xsd:attribute name="decimalPlaces" use="optional" type="xsd:int" />
    <xsd:attribute name="decimalCharacter" use="optional" type="xsd:string" />
    <xsd:attribute name="decimalCharacterAlternate" use="optional" type="xsd:string" />
    <xsd:attribute name="currencySymbol" type="bb:DMLSymbol" use="optional" />
    <xsd:attribute name="currencySymbolPosition" type="bb:DMLSymbolPosition" use="optional" />
    <xsd:attribute name="digitGroupSeparator" use="optional" type="xsd:string" />
    <xsd:attribute name="isDigitGrouping" use="optional" type="xsd:boolean" />
    <xsd:attribute name="minValue" use="optional" type="xsd:decimal" />
    <xsd:attribute name="maxValue" use="optional" type="xsd:decimal" />
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:simpleType name="DMLSymbol">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Rial" />
      <xsd:enumeration value="Doller" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DMLSymbolPosition">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Left" />
      <xsd:enumeration value="Right" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DMLStateEditor">
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="DMLStringEditor">
    <xsd:attribute name="multiline" use="optional" type="xsd:boolean" />
    <xsd:attribute name="isPassword" use="optional" type="xsd:boolean" />
    <xsd:attribute name="maxLength" use="optional" type="xsd:int" />
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="DMLTimeEditor">
    <xsd:attribute name="editorType" type="bb:DMLTimeEditorType" use="optional" />
    <xsd:attribute name="width" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:string" />
    <xsd:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xsd:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xsd:complexType>
  <xsd:simpleType name="DMLTimeEditorType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Second" />
      <xsd:enumeration value="Minute" />
      <xsd:enumeration value="Hour" />
      <xsd:enumeration value="HourMinute" />
      <xsd:enumeration value="HourMinuteSecond" />
      <xsd:enumeration value="MinuteSecond" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DMLFieldDataType">
    <xsd:choice>
      <xsd:element name="object" type="bb:DMLObjectFieldDataType" />
      <xsd:element name="dictionary" type="bb:DMLDictionaryFieldDataType" />
      <xsd:element name="model" type="bb:DMLModelFieldDataType" />
      <xsd:element name="crossReference" type="bb:DMLCrossReferenceFieldDataType" />
      <xsd:element name="list" type="bb:DMLListFieldDataType" />
      <xsd:element name="guid" type="bb:DMLGuidFieldDataType" />
      <xsd:element name="string" type="bb:DMLStringFieldDataType" />
      <xsd:element name="dateTime" type="bb:DMLDateTimeFieldDataType" />
      <xsd:element name="boolean" type="bb:DMLBooleanFieldDataType" />
      <xsd:element name="byte" type="bb:DMLByteFieldDataType" />
      <xsd:element name="short" type="bb:DMLShortFieldDataType" />
      <xsd:element name="int" type="bb:DMLIntFieldDataType" />
      <xsd:element name="long" type="bb:DMLLongFieldDataType" />
      <xsd:element name="float" type="bb:DMLFloatFieldDataType" />
      <xsd:element name="decimal" type="bb:DMLDecimalFieldDataType" />
      <xsd:element name="double" type="bb:DMLDoubleFieldDataType" />
      <xsd:element name="binary" type="bb:DMLBinaryFieldDataType" />
      <xsd:element name="file" type="bb:DMLFileFieldDataType" />
      <xsd:element name="image" type="bb:DMLImageFieldDataType" />
      <xsd:element name="version" type="bb:DMLVersionFieldDataType" />
      <xsd:element name="duration" type="bb:DMLDurationFieldDataType" />
      <xsd:element name="enum" type="bb:DMLEnumFieldDataType" />
      <xsd:element name="json" type="bb:DMLJsonFieldDataType" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="DMLObjectFieldDataType">
    <xsd:attribute name="specialType" use="required" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLDictionaryFieldDataType">
    <xsd:all>
      <xsd:element name="valueType" type="bb:DMLDictionaryFilteredFieldDataType" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DMLDictionaryFilteredFieldDataType">
    <xsd:choice>
      <xsd:element name="guid" type="bb:DMLGuidFieldDataType" />
      <xsd:element name="string" type="bb:DMLStringFieldDataType" />
      <xsd:element name="dateTime" type="bb:DMLDateTimeFieldDataType" />
      <xsd:element name="boolean" type="bb:DMLBooleanFieldDataType" />
      <xsd:element name="byte" type="bb:DMLByteFieldDataType" />
      <xsd:element name="short" type="bb:DMLShortFieldDataType" />
      <xsd:element name="int" type="bb:DMLIntFieldDataType" />
      <xsd:element name="long" type="bb:DMLLongFieldDataType" />
      <xsd:element name="float" type="bb:DMLFloatFieldDataType" />
      <xsd:element name="decimal" type="bb:DMLDecimalFieldDataType" />
      <xsd:element name="double" type="bb:DMLDoubleFieldDataType" />
      <xsd:element name="duration" type="bb:DMLDurationFieldDataType" />
      <xsd:element name="enum" type="bb:DMLEnumFieldDataType" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="DMLGuidFieldDataType" />
  <xsd:complexType name="DMLStringFieldDataType">
    <xsd:attribute name="stripHtmlTags" use="optional" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="DMLDateTimeFieldDataType" />
  <xsd:complexType name="DMLBooleanFieldDataType" />
  <xsd:complexType name="DMLByteFieldDataType" />
  <xsd:complexType name="DMLShortFieldDataType" />
  <xsd:complexType name="DMLIntFieldDataType" />
  <xsd:complexType name="DMLLongFieldDataType" />
  <xsd:complexType name="DMLFloatFieldDataType" />
  <xsd:complexType name="DMLDecimalFieldDataType" />
  <xsd:complexType name="DMLDoubleFieldDataType" />
  <xsd:complexType name="DMLDurationFieldDataType" />
  <xsd:complexType name="DMLEnumFieldDataType">
    <xsd:attribute name="name" use="required" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLModelFieldDataType">
    <xsd:attribute name="sourceModel" use="required" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLCrossReferenceFieldDataType">
    <xsd:all>
      <xsd:element name="entityModels" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="entityModel" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="interface" use="optional" type="xsd:string" />
    <xsd:attribute name="useCrossReferenceTypeWhenInterfaceProvided" use="optional" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="DMLListFieldDataType">
    <xsd:all>
      <xsd:element name="elementType" type="bb:DMLListFilteredFieldDataType" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DMLListFilteredFieldDataType">
    <xsd:choice>
      <xsd:element name="object" type="bb:DMLObjectFieldDataType" />
      <xsd:element name="dictionary" type="bb:DMLDictionaryFieldDataType" />
      <xsd:element name="model" type="bb:DMLModelFieldDataType" />
      <xsd:element name="crossReference" type="bb:DMLCrossReferenceFieldDataType" />
      <xsd:element name="guid" type="bb:DMLGuidFieldDataType" />
      <xsd:element name="string" type="bb:DMLStringFieldDataType" />
      <xsd:element name="dateTime" type="bb:DMLDateTimeFieldDataType" />
      <xsd:element name="boolean" type="bb:DMLBooleanFieldDataType" />
      <xsd:element name="byte" type="bb:DMLByteFieldDataType" />
      <xsd:element name="short" type="bb:DMLShortFieldDataType" />
      <xsd:element name="int" type="bb:DMLIntFieldDataType" />
      <xsd:element name="long" type="bb:DMLLongFieldDataType" />
      <xsd:element name="float" type="bb:DMLFloatFieldDataType" />
      <xsd:element name="decimal" type="bb:DMLDecimalFieldDataType" />
      <xsd:element name="double" type="bb:DMLDoubleFieldDataType" />
      <xsd:element name="binary" type="bb:DMLBinaryFieldDataType" />
      <xsd:element name="file" type="bb:DMLFileFieldDataType" />
      <xsd:element name="image" type="bb:DMLImageFieldDataType" />
      <xsd:element name="version" type="bb:DMLVersionFieldDataType" />
      <xsd:element name="duration" type="bb:DMLDurationFieldDataType" />
      <xsd:element name="enum" type="bb:DMLEnumFieldDataType" />
      <xsd:element name="json" type="bb:DMLJsonFieldDataType" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="DMLBinaryFieldDataType" />
  <xsd:complexType name="DMLFileFieldDataType" />
  <xsd:complexType name="DMLImageFieldDataType" />
  <xsd:complexType name="DMLVersionFieldDataType" />
  <xsd:complexType name="DMLJsonFieldDataType">
    <xsd:attribute name="schema" use="optional" type="xsd:string" />
    <xsd:attribute name="templateSelectionPolicy" type="bb:DMLJsonTemplateSelectionPolicy" use="optional" />
  </xsd:complexType>
  <xsd:simpleType name="DMLJsonTemplateSelectionPolicy">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Property" />
      <xsd:enumeration value="BeforeCreate" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DMLNotNullFieldValidator">
    <xsd:attribute name="message" use="optional" type="xsd:string" />
    <xsd:attribute name="name" use="optional" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLJsonSchemaFieldValidator">
    <xsd:attribute name="message" use="optional" type="xsd:string" />
    <xsd:attribute name="name" use="optional" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLBinaryFieldValidator">
    <xsd:all>
      <xsd:element name="mimeTypes" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence minOccurs="1" maxOccurs="unbounded">
            <xsd:element name="mimeType" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="maxSize" use="optional" type="xsd:int" />
    <xsd:attribute name="message" use="optional" type="xsd:string" />
    <xsd:attribute name="name" use="optional" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLStringFieldValidator">
    <xsd:attribute name="min" use="optional" type="xsd:int" />
    <xsd:attribute name="max" use="optional" type="xsd:int" />
    <xsd:attribute name="message" use="optional" type="xsd:string" />
    <xsd:attribute name="name" use="optional" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLRegularExpressionFieldValidator">
    <xsd:attribute name="pattern" use="required" type="xsd:string" />
    <xsd:attribute name="multiline" use="optional" type="xsd:boolean" />
    <xsd:attribute name="singleline" use="optional" type="xsd:boolean" />
    <xsd:attribute name="ignoreCase" use="optional" type="xsd:boolean" />
    <xsd:attribute name="message" use="optional" type="xsd:string" />
    <xsd:attribute name="name" use="optional" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLCustomValidator">
    <xsd:all>
      <xsd:element name="expression" minOccurs="1" maxOccurs="1" type="xsd:string" />
    </xsd:all>
    <xsd:attribute name="message" use="optional" type="xsd:string" />
    <xsd:attribute name="name" use="optional" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLNumberFieldValidator">
    <xsd:attribute name="min" use="required" type="xsd:long" />
    <xsd:attribute name="max" use="required" type="xsd:long" />
    <xsd:attribute name="message" use="optional" type="xsd:string" />
    <xsd:attribute name="name" use="optional" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLPrintPropertyToParameterBinding">
    <xsd:attribute name="sourceProperty" use="required" type="xsd:string" />
    <xsd:attribute name="targetParameter" use="required" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLPrintParameterToParameterBinding">
    <xsd:attribute name="sourceParameter" use="required" type="xsd:string" />
    <xsd:attribute name="targetParameter" use="required" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLIcon">
    <xsd:choice>
      <xsd:element name="simple" type="bb:DMLSimpleIcon" />
      <xsd:element name="font" type="bb:DMLFontIcon" />
      <xsd:element name="system" type="bb:DMLSystemIcon" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="DMLSimpleIcon">
    <xsd:all>
      <xsd:element name="content">
        <xsd:complexType>
          <xsd:attribute name="x-key" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DMLFontIcon">
    <xsd:attribute name="name" use="required" type="xsd:string" />
    <xsd:attribute name="color" use="optional" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLSystemIcon">
    <xsd:attribute name="type" type="bb:DMLSystemIconType" use="required" />
    <xsd:attribute name="color" use="optional" type="xsd:string" />
  </xsd:complexType>
  <xsd:simpleType name="DMLSystemIconType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Submit" />
      <xsd:enumeration value="Cancel" />
      <xsd:enumeration value="Apply" />
      <xsd:enumeration value="Settings" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DMLDeactivatedPrintTemplate">
    <xsd:attribute name="printTemplate" use="required" type="xsd:string" />
  </xsd:complexType>
  <xsd:simpleType name="BBDuration">
    <xsd:annotation>
      <xsd:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>