.xsd/DMLGlobalFilter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/globalFilter" xmlns:bb="http://www.bigbang.io/dml/globalFilter">
  <xsd:element name="configuration">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="globalFilter" type="bb:DMLGlobalFilter" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DMLGlobalFilter">
    <xsd:all>
      <xsd:element name="description" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="affectedModels" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="affectedModel" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="name" use="required" type="xsd:string" />
    <xsd:attribute name="displayName" use="optional" type="xsd:string" />
    <xsd:attribute name="model" use="required" type="xsd:string" />
    <xsd:attribute name="mode" type="bb:DMLGlobalFilterMode" use="optional" />
  </xsd:complexType>
  <xsd:simpleType name="DMLGlobalFilterMode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="User" />
      <xsd:enumeration value="Actor" />
      <xsd:enumeration value="Session" />
      <xsd:enumeration value="SessionWithDefaultUser" />
      <xsd:enumeration value="SessionWithDefaultActor" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BBDuration">
    <xsd:annotation>
      <xsd:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>