.xsd/DMLGadget.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/gadget" xmlns:bb="http://www.bigbang.io/dml/gadget">
  <xsd:element name="configuration">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="gadget" type="bb:DMLGadget" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DMLGadget">
    <xsd:all>
      <xsd:element name="description" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="icon" type="bb:DMLIcon" minOccurs="0" maxOccurs="1" />
    </xsd:all>
    <xsd:attribute name="name" use="required" type="xsd:string" />
    <xsd:attribute name="displayName" use="optional" type="xsd:string" />
    <xsd:attribute name="configModel" use="optional" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Config virtual entity model</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="form" use="required" type="xsd:string" />
    <xsd:attribute name="categoryName" use="optional" type="xsd:string" />
    <xsd:attribute name="headerColor" use="optional" type="xsd:string" />
    <xsd:attribute name="height" use="optional" type="xsd:int">
      <xsd:annotation>
        <xsd:documentation>Default value is 400</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showHeader" use="optional" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Default value is 'true'</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="removable" use="optional" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Default value is 'true'</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="draggable" use="optional" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Default value is 'true'</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="DMLIcon">
    <xsd:choice>
      <xsd:element name="simple" type="bb:DMLSimpleIcon" />
      <xsd:element name="font" type="bb:DMLFontIcon" />
      <xsd:element name="system" type="bb:DMLSystemIcon" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="DMLSimpleIcon">
    <xsd:all>
      <xsd:element name="content">
        <xsd:complexType>
          <xsd:attribute name="x-key" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DMLFontIcon">
    <xsd:attribute name="name" use="required" type="xsd:string" />
    <xsd:attribute name="color" use="optional" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLSystemIcon">
    <xsd:attribute name="type" type="bb:DMLSystemIconType" use="required" />
    <xsd:attribute name="color" use="optional" type="xsd:string" />
  </xsd:complexType>
  <xsd:simpleType name="DMLSystemIconType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Submit" />
      <xsd:enumeration value="Cancel" />
      <xsd:enumeration value="Apply" />
      <xsd:enumeration value="Settings" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BBDuration">
    <xsd:annotation>
      <xsd:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>