.xsd/DMLMigration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/migration" xmlns:bb="http://www.bigbang.io/dml/migration">
  <xsd:element name="configuration">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="migration" type="bb:DMLMigration" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DMLMigration">
    <xsd:all>
      <xsd:element name="migrations" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="migrationItem" type="bb:DMLMigrationItem" />
            <xsd:element name="migrationGroup" type="bb:DMLMigrationGroup" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DMLMigrationItem">
    <xsd:all>
      <xsd:element name="script">
        <xsd:complexType>
          <xsd:attribute name="x-key" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="name" use="required" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DMLMigrationGroup">
    <xsd:all>
      <xsd:element name="migrations" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="migrationItem" type="bb:DMLMigrationItem" />
            <xsd:element name="migrationGroup" type="bb:DMLMigrationGroup" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="name" use="required" type="xsd:string" />
  </xsd:complexType>
  <xsd:simpleType name="BBDuration">
    <xsd:annotation>
      <xsd:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>