.xsd/DMLSyncEntityModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/syncEntityModel" xmlns:bb="http://www.bigbang.io/dml/syncEntityModel">
  <xsd:element name="configuration">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="syncEntityModel" type="bb:DMLSyncEntityModel" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DMLSyncEntityModel">
    <xsd:all>
      <xsd:element name="bindings">
        <xsd:annotation>
          <xsd:documentation>This collection is to copy from source model to target model properties.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="binding" type="bb:DMLSyncEntityModelBinding" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="name" use="required" type="xsd:string" />
    <xsd:attribute name="sourceModel" use="required" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The source model can be found in the current application or other applications.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="targetModel" use="required">
      <xsd:annotation>
        <xsd:documentation>The target model always finds in the current application.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="^[A-Za-z_][A-Za-z0-9_]*$" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="DMLSyncEntityModelBinding">
    <xsd:attribute name="sourceProperty" use="required" type="xsd:string" />
    <xsd:attribute name="targetProperty" use="required" type="xsd:string" />
  </xsd:complexType>
  <xsd:simpleType name="BBDuration">
    <xsd:annotation>
      <xsd:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>